.heading {
    width: 100%;
    background-color: #272a33;
    color: #FFFFFF;
  }
  
  html,
  body {
    margin: 0;
    height: 100%;
  }
  
  .size-label {
    display: inline-block;
    padding: 2px;
  }
  
  .intro-components {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  