.cover_image {
    width: 100%;
    height: 320px;
    object-fit: cover;
    overflow: hidden;
    display: block;
    position: relative;
    z-index:2;
}
img {
    height: 100%;
    width: 100%;
    object-fit:cover;
}
.btn {
    display: inline-block;
    position: relative;
    z-index:3;
    top: -40px;
    align-content: flex-end;
}

.descriptionBox {
    border: 5px solid black;
    height: 20vh;
    width: 40vw;
}
.profileContainer{
    display: flex;
}
.profileuploader {
    display: flex;
    justify-content: relative;
}
.btner {
    left: -60px;
    top: 30px;
}